.inputNoBoarder {
  border: none;
  margin-bottom: 0px !important;
  background-color: white !important;
}

.btn {
  margin-top: 10px;
}

.input-group-text{
  background-color: white;
  border: none;
}

.smallBtn{
  display: flex;
  align-items: center;
}

.noPadding{
  padding-left: 0px;
  padding-right: 0px;
}

.onlyLeftPadding{
  padding-left: 30px;
  padding-right: 0px;
}

input:focus {
  box-shadow: none !important;
}

hr {
  margin: 0px;
}

.container-fluid{
  margin-top: 10px;
}

.test{
  width: 20%;
  border: 1px solid black;
}

.noMargin {
  margin: 0px;
  padding :0px;
}